.search {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);    
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.user-input {
  display: flex;
 }



.is-search {
  position: absolute;
  top: 140%;
  left: 50%;
  margin-right: -50%;
  margin-bottom: 25%;
  transform: translate(-50%, -50%)
}